.hero-section {
    margin: 0 auto;
    background-color: #FDF9F7;
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.banner-section {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow: scroll hidden;
    width: 100%;
}

.banner-section::-webkit-scrollbar {
    display: none;
}

.stats-section {
    gap: 1.5rem;
    display: flex;
    padding: 1rem 1.5rem;
    width: 80%;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.stat {
    display: flex;
    gap: 0.75rem;
    box-shadow: 10px 0 19px 7px rgba(0, 0, 0, 0.2);
    padding: 1rem 1.25rem;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
}



@media only screen and (max-width:720px) {
    .hero-section {
        padding: 2rem;
    }

    .stats-section {
        flex-direction: column;
        width: 100%;
    }
}