.logo-navigation-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.navbar-right-content-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar {
    padding: 1rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9eef2;
}

.navlinks-container {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.nav-link {
    position: relative;
    cursor: pointer;
    list-style: none;
}

.nav-link:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: width 0.2s ease-in-out;
}


.login-button {
    padding: 0.5rem 2rem;
    color: #fff;
    outline: none;
    border: none;
    transition: all 0.2s ease-in;
    border-radius: 0.25rem;
    background-color: #323635;
    margin-left: 1rem;
    font-weight: 500;
    cursor: pointer;

}

.login-button:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
}

.mobile-menu-btn {
    display: none;
}

.mobile-menu {
    display: none;
}

.active {
    transform: translateX(0%) !important;
}

.icon {
    color: #000;
    margin-right: 10px;
    font-size: 30px;
}

@media only screen and (min-width:841px) {
    .nav-link:hover:before {
        width: 100%;
    }
}

@media only screen and (max-width:720px) {

    .logo-navigation-container {
        gap: 1rem;
        justify-content: space-between;
    }

    .close-icon {
        justify-self: flex-end;
    }

    .navbar {
        padding: 1rem;
        border: none;
    }

    .mobile-menu-btn {
        display: block;
    }

    .navlinks-container {
        display: none;
    }

    .mobile-menu {
        display: flex;
        position: absolute;
        padding: 1rem 0.5rem;
        flex-direction: column;
        top: 0;
        left: 0;
        height: 100%;
        width: 80%;
        z-index: 1;
        transition: all 0.25s ease-in-out;
        transform: translateX(-100%);
        background-color: #fff;
        gap: 1rem;
        border-right: 2px solid #ccc;
    }

    .mobile-menu .navlinks-container {
        display: flex;
        flex-direction: column;
        gap: 0;
        flex: auto;
        justify-content: initial;
        gap: 1rem;
    }

    .nav-link {
        padding: 0.5rem 1rem;

        font-weight: 500;
    }

    .mobile-menu .sidebar {
        display: flex;
        padding: 0.5rem 1rem;
        align-items: center;
        flex-direction: row-reverse;
    }

}