.carousel-container {
    display: flex;
    flex-direction: column;
}

.element-container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    transition: all 1s ease-in;
    scroll-behavior: smooth;
}

.element-container::-webkit-scrollbar {
    display: none;
}

.element-ellipses {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.element-ellipsis {
    width: 10px;
    height: 10px;
    background: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.element-ellipsis.active {
    background: #333;
}


@media only screen and (max-width:720px) {
    .element-ellipses {
        display: none;
    }
}