.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.5s ease;
    gap: 2rem;
    flex: 0 0 100%;
    /* Ensure each banner occupies the entire width of the screen */
    transition: transform 0.5s ease-in-out;
}

.image-container {
    height: 450px;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.content h2 {
    font-size: 4rem;
    line-height: 0.9;
}

.content h2 span {
    color: rgb(3, 87, 128);
}

.content p {
    font-size: 1.125rem;
}

.content button {
    padding: 0.75rem 2rem;
    color: #fff;
    outline: none;
    border: none;
    transition: all 0.2s ease-in;
    border-radius: 0.25rem;
    background-color: #232424;
    /* font-weight: 500; */
    cursor: pointer;
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    color: #fff;
    margin-left: 10px;
}

.content button:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
}